<% if replica.enabled? %>
  <div class="item card <%= replica.good_lag? ? "green" : "orange" %> darken-1">
    <div class="card-content white-text">
      <span class="card-title"><%= replica.good_lag? ? "Good" : "Error" %></span>
      <p>db: banking1_pro</p>
      <p>
      <% if replica.good_lag? %>
        Healthy replication lag
      <% else %>
        High replication lag
      <% end %>
      </p>
      <p>
      <span class="tiny"><%= number_with_delimiter((replica.lag * 1000).round) %> ms</span>
      </p>
    </div>
    <div class="card-action">
      <a href="#" class="white-text"><i class="material-icons mdi-action-visibility"></i></a>
      <a href="#" class="white-text"><i class="material-icons mdi-content-clear"></i></a>
    </div>
  </div>
<% end %>

