<div class="item card <%= queries.long_running.empty? ? "green" : "orange" %> darken-1">
  <div class="card-content white-text">
    <span class="card-title"><%= queries.long_running.empty? ? "Good" : "Warning" %></span>
    <p>
    db: banking1_pro
    </p>
    <p>
    <% if queries.long_running.any? %>
      <%= pluralize(queries.long_running.size, "long running query") %>
    <% else %>
      No long running queries
    <% end %>
    </p>
  </div>
  <div class="card-action">
    <a href="#" class="white-text"><i class="material-icons mdi-action-visibility"></i></a>
    <a href="#" class="white-text"><i class="material-icons mdi-content-clear"></i></a>
  </div>  
</div>

