<div class="row">     
  <div id="table-box" class="card white">
    <table id="myTable" class="bordered highlight tablesorter">
      <div class="card-header">
        <h5>Index Usage</h5>
        <p>----</p>
        <div class="card-action simple">
          <a class='dropdown-button grey-text text-darken-3' href='#' data-activates='dropdown-actions-3'><i class="material-icons mdi-navigation-more-vert"></i></a>
          <ul id='dropdown-actions-3' class='dropdown-content'>
            <li ><a href="#!" class='grey-text text-darken-3'>Option 1</a></li>
            <li ><a href="#!" class='grey-text text-darken-3'>Option 1</a></li>
            <li class="divider"></li>
            <li ><a href="#!" class='grey-text text-darken-3'>Close</a></li>
          </ul>
        </div>   
      </div>

      <thead>
        <tr>
            <th data-field="id">Table</th>
            <th data-field="column1">% of Time Index Used</th>
            <th data-field="column2">Rows</th>
        </tr>
      </thead>
      <tbody>
        <% @index_usage.each do |query| %>
          <tr>
            <td>
              <%= query["table"] %>
              <% if query["schema"] != "public" %>
                <span class="text-muted"><%= query["schema"] %></span>
              <% end %>
            </td>
            <td><%= query["percent_of_times_index_used"] %></td>
            <td><%= number_with_delimiter(query["rows_in_table"]) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
