<div class="content">
  <div id="chart" data-columns="<%= @graph_information.to_json %>"></div>
  <h1>Indexes</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Table</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @indexes.each do |index| %>
        <tr>
          <td><%= index["table"]%></td>
          <td><%= index["name"]%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
