<aside>
  <a href="#!" data-activates="slide-out-left" class="button-collapse-left hide-on-large-only white-text">
    <i class="mdi-navigation-menu"></i>
  </a>

  <ul class="left fixed-nav hide-on-med-and-down collection">
    <li class="grey lighten-2 bold">
      <%= link_to root_path, class: "grey-text text-darken-3" do %>
        Overview
        <i class="material-icons mdi-av-equalizer left"></i>
      <% end %>
    </li>
    <li>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header grey lighten-2 grey-text text-darken-3">Performance<i class="material-icons mdi-image-tune left"></i><i class="material-icons mdi-navigation-arrow-drop-down right"></i></div>
          <ul class="collapsible-body grey lighten-2">
            <li class="grey lighten-2">
              <%= link_to "Queries (live)", queries_path, class:"grey-text text-darken-3" %>
            </li>
            <li class="grey lighten-2">
              <%= link_to "Index Usage", index_usage_path, class:"grey-text text-darken-3" %>
            </li>
            <li class="grey lighten-2"><a href="#!" class="grey-text text-darken-3">Buffer Usage</a></li>      
            <li class="grey lighten-2"><a href="#!" class="grey-text text-darken-3">Checkpoint / WAL</a></li>         
          </ul>
        </li>
      </ul>          
    </li>
    <li class="grey lighten-2 bold">
      <%= link_to connections_path, class: "grey-text text-darken-3" do %>
        Connections
        <i class="material-icons mdi-communication-call-split left"></i>
      <% end %>
    </li>
    <li>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header grey lighten-2 grey-text text-darken-3">Status<i class="material-icons mdi-maps-traffic left"></i><i class="material-icons mdi-navigation-arrow-drop-down right"></i></div>
          <ul class="collapsible-body grey lighten-2">
            <li class="grey lighten-2"><a href="#!" class="grey-text text-darken-3">System</a></li>
            <li class="grey lighten-2"><a href="#!" class="grey-text text-darken-3">Disk Usage</a></li>
            <li class="grey lighten-2"><a href="#!" class="grey-text text-darken-3">DB Space Usage</a></li>            
          </ul>
        </li>
      </ul>          
    </li>
    <li>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header grey lighten-2 grey-text text-darken-3">Structure<i class="material-icons mdi-maps-layers left"></i><i class="material-icons mdi-navigation-arrow-drop-down right"></i></div>
          <ul class="collapsible-body grey lighten-2">
            <li class="grey lighten-2"><a href="#!" class="grey-text text-darken-3">Schemas</a></li>
            <li class="grey lighten-2"><a href="#!" class="grey-text text-darken-3">Tables</a></li>
            <li class="grey lighten-2"><a href="#!" class="grey-text text-darken-3">Indexes</a></li>   
            <li class="grey lighten-2"><a href="#!" class="grey-text text-darken-3">TableSpaces</a></li>          
          </ul>
        </li>
      </ul>          
    </li>
    <li>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header grey lighten-2 grey-text text-darken-3">Miscellaneous<i class="material-icons mdi-action-grade left"></i><i class="material-icons mdi-navigation-arrow-drop-down right"></i></div>
          <ul class="collapsible-body grey lighten-2">
            <li class="grey lighten-2"><a href="#!" class="grey-text text-darken-3">Settings</a></li>         
          </ul>
        </li>
      </ul>          
    </li>
    <li class="grey lighten-2 bold"><a href="#!" class="grey-text text-darken-3">Explain<i class="material-icons mdi-action-explore left"></i></a></li>
  </ul>


  <ul id="slide-out-left" class="side-nav collection">
    <li class="no-padding bold"><a href="http://tools.dev.kilobe.com/pghero2/index.php">Overview<i class="material-icons mdi-av-equalizer left"></i></a></li>
    <li class="no-padding">
      <ul class="collapsible">
        <li>
          <div class="collapsible-header">Performance<i class="material-icons mdi-image-tune left"></i><i class="material-icons mdi-navigation-arrow-drop-down right"></i></div>
          <ul class="collapsible-body">
            <li><a href="http://tools.dev.kilobe.com/pghero2/queries-live.php" class="grey-text text-darken-3">Queries (live)</a></li>
            <li><a href="#!">Index Usage</a></li>
            <li><a href="#!">Buffer Usage</a></li>      
            <li><a href="#!">Checkpoint / WAL</a></li>         
          </ul>
        </li>
      </ul>          
    </li>
    <li class="no-padding bold"><a href="#!">Connections<i class="material-icons mdi-communication-call-split left"></i></a></li>
    <li class="no-padding">
      <ul class="collapsible">
        <li>
          <div class="collapsible-header">Status<i class="material-icons mdi-maps-traffic left"></i><i class="material-icons mdi-navigation-arrow-drop-down right"></i></div>
          <ul class="collapsible-body">
            <li><a href="#!">System</a></li>
            <li><a href="#!">Disk Usage</a></li>
            <li><a href="#!">DB Space Usage</a></li>            
          </ul>
        </li>
      </ul>          
    </li>
    <li class="no-padding">
      <ul class="collapsible">
        <li>
          <div class="collapsible-header">Structure<i class="material-icons mdi-maps-layers left"></i><i class="material-icons mdi-navigation-arrow-drop-down right"></i></div>
          <ul class="collapsible-body">
            <li><a href="#!">Schemas</a></li>
            <li><a href="#!">Tables</a></li>
            <li><a href="#!">Indexes</a></li>   
            <li><a href="#!">TableSpaces</a></li>          
          </ul>
        </li>
      </ul>          
    </li>
    <li class="no-padding">
      <ul class="collapsible">
        <li>
          <div class="collapsible-header">Miscellaneous<i class="material-icons mdi-action-grade left"></i><i class="material-icons mdi-navigation-arrow-drop-down right"></i></div>
          <ul class="collapsible-body">
            <li ><a href="#!">Settings</a></li>         
          </ul>
        </li>
      </ul>          
    </li>
    <li class="no-padding bold"><a href="#!">Explain<i class="material-icons mdi-action-explore left"></i></a></li>
  </ul>     

</aside>
