<header>
  <nav id="top_menu" class="blue lighten-1 z-depth-0">
    <div class="nav-wrapper">
      <a href="http://tools.dev.kilobe.com/pghero2/" class="brand-logo">PgHero2</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a id="user_login" class="dropdown-button" href="#!" data-activates="dropdown1">hermes.ojeda<i class="mdi-navigation-arrow-drop-down right"></i></a>
          <ul id="dropdown1" class="dropdown-content">
            <liclass="collection-item"><a href="#!" class="blue-text text-darken-1">Profile<i class="mdi-social-person left"></i></a></li>
        <li><a href="#!" class="blue-text text-darken-1">Settings<i class="mdi-action-settings left"></i></a></li>
        <li class="divider"></li>
        <li><a href="#!" class="blue-text text-darken-1">Log Out<i class="mdi-action-exit-to-app left"></i></a></li>
          </ul>
          </li>
      </ul>
    </div>
  </nav>
</header>

